{% extends 'base.html' %}

{% block title%} night_canteen {% endblock %}

{% block content %}
<div class="container-fluid main">
    <div class="container-md logo">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam tristique nibh nisi, et condimentum tortor
            dapibus ut. Mauris at pharetra tortor, lobortis tincidunt metus. Mauris sed lacus magna. Donec at lorem eu
            turpis placerat porta. Nullam dapibus arcu semper vehicula accumsan. Phasellus sit amet nibh vitae lectus
            aliquet rhoncus. Sed eget scelerisque turpis, sed dictum nisi. Pellentesque habitant morbi tristique
            senectus et netus et malesuada fames ac turpis egestas.
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam tristique nibh nisi, et condimentum tortor
            dapibus ut. Mauris at pharetra tortor, lobortis tincidunt metus. Mauris sed lacus magna. Donec at lorem eu
            turpis placerat porta. Nullam dapibus arcu semper vehicula accumsan. Phasellus sit amet nibh vitae lectus
            aliquet rhoncus. Sed eget scelerisque turpis, sed dictum nisi. Pellentesque habitant morbi tristique
            senectus et netus et malesuada fames ac turpis egestas.

            Morbi risus ligula, dapibus eu lacus et, blandit interdum diam. Praesent sollicitudin nisi metus, non semper
            neque posuere vel. Pellentesque posuere pharetra sodales. Vestibulum sed tellus nisi. Nullam eget aliquet
            velit. Pellentesque ornare lacinia lacus sed elementum. Sed venenatis eros et lectus placerat auctor. Nunc
            eget tempor diam. Cras vitae odio est. Duis feugiat odio id leo ornare, ut pellentesque turpis semper.

            Sed accumsan tincidunt nulla vel sollicitudin. Cras dictum, nunc ut venenatis porta, enim sapien auctor
            sapien, ac eleifend erat turpis a nulla. Praesent lorem ipsum, dignissim condimentum odio vel, imperdiet
            tristique nunc. Cras vitae ligula nec elit aliquam gravida id at eros. Fusce ac varius tortor, non semper
            ante. Cras auctor erat vel tellus posuere bibendum. Aliquam et turpis at diam ornare ultricies. Quisque et
            egestas libero, in consectetur nunc. Proin vitae placerat massa. Duis facilisis, tortor et interdum
            pharetra, enim tellus gravida tortor, et lacinia tortor urna at quam.

            Fusce ut aliquet diam. Nulla tincidunt nec libero at laoreet. Nulla commodo dolor tellus, sed euismod nulla
            aliquam in. Nunc malesuada nec lectus nec porttitor. Etiam auctor ligula viverra ultrices elementum. Quisque
            quis faucibus turpis, sed ultrices nulla. Mauris purus justo, blandit vitae tempus ut, aliquam nec neque.
            Curabitur vitae velit ac dolor porta tristique nec a diam. Vestibulum nec risus ultrices, fermentum erat eu,
            hendrerit enim. Proin vulputate condimentum fermentum. Phasellus imperdiet malesuada est. Curabitur commodo
            nisl nec venenatis egestas. Integer interdum posuere urna maximus efficitur. Proin ac semper dui, vitae
            pellentesque justo.

            Cras ac ligula pharetra, fringilla ligula id, egestas ligula. In hac habitasse platea dictumst. Ut ac nisl
            placerat, consequat dolor vehicula, lacinia urna. Vestibulum convallis gravida ligula ac imperdiet. Nam
            consectetur sit amet velit sit amet maximus. Vestibulum aliquam ipsum quis turpis lobortis, in dignissim
            lacus gravida. Vestibulum et vehicula magna. Nulla pharetra nisl feugiat volutpat pharetra.
        </p>
    </div>
</div>
{% endblock content %}